@(metasForm: Form[Meta])

@import helper._

@main("LaMeta") {
	<nav class="navbar navbar-fixed-top nav-color" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="margin-top: 0px;" href="#"><span class="light-color navbar-title fonte-principal" style="font-size:30px;">LaMeta</span></a>
           		<ul class="nav navbar-nav">
		        	<li>
		        		<button class="btn btn-default fixed fonte-principal" data-toggle="modal" data-target="#modal-nova-meta">Nova meta</button></li>
		        	<li style="margin-left:50px">
			        	<div class="btn-group fonte-principal">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="dropdown-semana">Semana</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" style="color:black!important">
								<li><a href="#" onclick='atualizarMetas(0);'>1 Semana</a></li>
								<li><a href="#" onclick='atualizarMetas(1);'>2 Semanas</a></li>
								<li><a href="#" onclick='atualizarMetas(2);'>3 Semanas</a></li>
								<li><a href="#" onclick='atualizarMetas(3);'>4 Semanas</a></li>
								<li><a href="#" onclick='atualizarMetas(4);'>5 Semanas</a></li>
								<li><a href="#" onclick='atualizarMetas(5);'>6 Semanas</a></li>
							</ul>
						</div>
					</li>
		       	</ul>
            </div>
        </div>
    </nav> 

    <div id="container" style="margin-top:50px">
	    <div id="remainingHeight">
	    	<div class="metas" id="metas-da-semana">
				<div class="row">
					<h2 style="margin-left: 40px" class="col-md-3 fonte-principal semana-meta">Para 2 semanas</h2>
					<h4 style="margin-top: 28px;" class="status col-md-5 fonte-principal"></h4>
				</div>
				<hr class="col-md-8" />
				<br> <br>
				<ul class="sticky_notes" id="lista-de-metas">
				</ul>
			</div>
		</div>   
	</div>

		<ul id="meta-template" style="display:none">
			<li>
				<span>
					<span class="texto-prioridade"></span>
					<a class="deletar popconfirm link-close texto-deletar" style="margin-top:-17px">x</a>
				</span>
				<span class="m-top meta-descricao" style="padding: 10px; height: 100px"></span>
				<div class="btn-container-right btn-status"></div>
			</li>
		</ul>

	<div id="nenhuma-meta-template" style="display:none">
		<h3 class="fonte-principal" style="margin-left:40px">Não há metas para esta semana</h3>
	</div>
	
	<div id="btn-alcancada-template" style="display:none">
		<button type="button" data-toggle="button" class="btn btn-success alcancou active btn-alterar-status">Alcançada</button>
	</div>
	
	<div id="btn-nao-alcancada-template" style="display:none">
		<button type="button" data-toggle="button" class="btn btn-warning alcancou btn-alterar-status">Não alcançada</button>
	</div>
	
	<!-- Modal Nova meta-->
	<div class="modal fade" id="modal-nova-meta" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Nova meta</h4>
	      </div>
	      <div class="modal-body">
	        @helper.form(action = routes.MetaController.nova, 'id -> "form-nova-meta") {
			    @inputText(
		            metasForm("descricao"), 
		            '_label -> "Descrição", 
		            '_help -> "Obrigatório",
		            'class -> "form-control",
		            'required -> "required",
		            'pattern -> "^(?:\\b\\S{1,20}\\b\\s*)+$",
		            'title -> "Não pode haver uma palavra com mais de 20 caracteres.",
		            'maxlength -> 80
		        )
		        <label for="descricao">Piroridade da meta</label>
		        <select name="prioridade" class="form-control">
				    @for(cType <- models.Prioridade.values()){
				        <option value="@cType.name()">@cType.getDescricao()</option>
				    }
				</select>
				<br>
				<label for="duracao">Prazo para alcançar a meta</label>
				<select name="duracao" class="form-control">
				    @for(cType <- models.Duracao.values()){
				        <option value="@cType.name()">@cType.getDescricao()</option>
				    }
				</select>
		    
		    }
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	        <button type="submit"  form="form-nova-meta" class="btn btn-primary">Criar</button>
	      </div>
	    </div>
	  </div>
	</div>
}
