@(todasMetas: List[List[Meta]], todosStatus: String, signupForm: Form[Meta])

@import helper._

@main("LaMeta") {
	<nav class="navbar navbar-fixed-top nav-color" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="margin-top: 0px;" href="#"><span class="light-color navbar-title fonte-principal" style="font-size:30px;">LaMeta</span></a>
           		<ul class="nav navbar-nav">
		        	<li><button class="btn btn-default fixed fonte-principal" data-toggle="modal" data-target="#modal-nova-meta">Nova meta</button></li>
		       	</ul>
            </div>
        </div>
    </nav> 

    <div id="container" data-todosStatus="@todosStatus" style="margin-top:100px">
	    <div id="remainingHeight">
	    
   		@for(i <- 0 until todasMetas.length){
   			<div class="metas" id="semana-@i">
   				<div class="row">
   					<h2 style="margin-left:40px" class="col-md-3 fonte-principal">Para @(i+1) semana</h2><h4 style="margin-top: 28px;" class="status col-md-5 fonte-principal"></h4>
   				</div>
   				<hr class="col-md-8"/><br><br>
	   			<ul class="sticky_notes" id="lista-de-metas"/>
	   			@if(todasMetas.get(i).length == 0){
	   				<h3 class="fonte-principal" style="margin-left:40px">Nenhuma meta para está semana</h3>
	   			}else{
		   			@for(meta <- todasMetas.get(i)){
			 			<li class="@if(meta.isAlcancada()) {green} else {yellow}" data-id="@meta.getId()">
			   				<span class="texto-prioridade">Prioridade: @meta.getPrioridade.name()
			   					<span class="texto-deletar">
			   						<a class="deletar popconfirm">x</a>
			   					</span>
			   				</span><span class="m-top" style="padding:10px;height: 100px">@meta.getDescricao()</span>
			   				<div class="btn-container-right">
				   				@if(meta.isAlcancada()) {
				   					<button type="button" data-toggle="button" data-id="@meta.getId()" data-alcancada="1" class="btn btn-success alcancou active btn-alterar-status">Alcançada</button>
				   				}else{
				   					<button type="button" data-toggle="button" data-id="@meta.getId()" data-alcancada="0" class="btn btn-warning alcancou btn-alterar-status">Não alcançada</button>
				   				}
			   				</span>
			   			</li> 
		   			}
	   			}
	   			</ul>
   			</div>
   		}
	
		</div>   
	</div>
	
	<!-- Modal Nova meta-->
	<div class="modal fade" id="modal-nova-meta" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Nova meta</h4>
	      </div>
	      <div class="modal-body">
	        @helper.form(action = routes.MetaController.nova, 'id -> "form-nova-meta") {
			    @inputText(
		            signupForm("descricao"), 
		            '_label -> "Descrição", 
		            '_help -> "Obrigatório",
		            'class -> "form-control",
		            'required -> "required",
		            'pattern -> "^(?:\\b\\S{1,20}\\b\\s*)+$",
		            'maxlength -> 80
		        )
		        <label for="descricao">Piroridade da meta</label>
		        <select name="prioridade" class="form-control">
				    @for(cType <- models.Prioridade.values()){
				        <option value="@cType.name()">@cType.getDescricao()</option>
				    }
				</select>
				<br>
				<label for="duracao">Prazo para alcançar a meta</label>
				<select name="duracao" class="form-control">
				    @for(cType <- models.Duracao.values()){
				        <option value="@cType.name()">@cType.getDescricao()</option>
				    }
				</select>
		    
		    }
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	        <button type="submit"  form="form-nova-meta" class="btn btn-primary">Criar</button>
	      </div>
	    </div>
	  </div>
	</div>
}
