@(message: String, signupForm: Form[Meta])

@import helper._

@import helper.twitterBootstrap._

@main("Welcome to Play") {

@message
	<nav class="navbar navbar-static-top " style="background-color: rgb(66, 75, 102);" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span class="light-color navbar-title">Sistema de informa&ccedil;&atilde;o 1</span></a>
            </div>
        </div>
    </nav>
    
    <script>
    function fixDiv() {
    	  var $cache = $('.fixed'); 
    	  if ($(window).scrollTop() > 65.8) 
    	    $cache.css({'position': 'fixed', 'top': '0', '-webkit-box-shadow': '0px 3px 4px 0px rgba(50, 50, 50, 0.58)',
    	    '-moz-box-shadow':    '0px 3px 4px 0px rgba(50, 50, 50, 0.58)',
    	   ' box-shadow':         '0px 3px 4px 0px rgba(50, 50, 50, 0.58)', 'padding-top':'5px'}); 
    	  else
    	    $cache.css({'position': 'relative', 'top': 'auto'});
    	}
    	$(window).scroll(fixDiv);
    	fixDiv();
    </script>
    <div style="display:none">
    @helper.form(action = routes.MetaController.nova, 'id -> "form") {
	    @inputText(
            signupForm("descricao"), 
            '_label -> "Descricao", 
            '_help -> "Please choose a valid username."
        )
        
        <select name="prioridade">
		    @for(cType <- models.Prioridade.values()){
		        <option value="@cType.name()">@cType.getDescricao()</option>
		    }
		</select>
         
         @inputDate(signupForm("dataDeFinalizacao"), '_label -> "Birthdate", '_help -> "format dd/MM/yyy")
        
        <input type="submit"/>
    
    }</div>
    
    <div id="container">
	    <div id="autoHeight" class="fixed" style="width:100%;z-index:1;height:50px" >
	    	<a class="btn btn-default" style="font-size:18px;margin-left:15px">Nova meta</a>
	    </div>
	    <div id="remainingHeight">
			<h2 style="color:white;font-family:'Short Stack', cursive">Para 2 semanas</h2>
   		<hr class="col-md-4" style="border-top:3px dashed white;margin-top:-5px"/><br><br>
   <ul class="sticky_notes  connectedSortable" id="sortable1"/>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.</span><span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar o LAB2 de SI1 até a data prevista.</span><span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar o LAB2 de SI1 até a data prevista.</span><span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.</span><span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar o LAB2 de SI1 até a data prevista.</span><span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><span class="m-top">Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.</span><span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
	</ul>
		<br><br>
		<h2 style="color:white;font-family:'Short Stack', cursive">Para 3 semanas</h2>
   		<hr class="col-md-4" style="border-top:3px dashed white;margin-top:-5px"/><br><br>
   <ul class="sticky_notes  connectedSortable" id="sortable1"/>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 16/06/14</h2>Terminar o LAB2 de SI1 até a data prevista.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 16/06/14</h2>Terminar o LAB2 de SI1 até a data prevista.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 16/06/14</h2>Terminar o LAB2 de SI1 até a data prevista.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 16/06/14</h2>Terminar o LAB2 de SI1 até a data prevista.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 16/06/14</h2>Terminar o LAB2 de SI1 até a data prevista.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="yellow"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 16/06/14</h2>Terminar o LAB2 de SI1 até a data prevista.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		<li class="green"><span style="width:100%;background-color:rgb(255, 115, 71);color:white;float:right">Prioridade: Alta<span style="float:right;margin-right:5px;cursor:pointer"><a onclick="alert('ok')">x</a></span></span><h2>Prazo: 11/06/14</h2>Terminar a parte2 do LAB2 de SI1. Devo concluir mesmo.<span style="float:right;width:100%;margin-top:5px"><a style="cursor:pointer">Alcançada</a></span></li>
		
	</ul>
		</div>   
	</div>

}
